.Logo {
  max-width: 168px;
  transition: 421ms;
  padding-top: 6px;
}

.Logo:hover{
  opacity: .7;
}

@media (max-width: 800px) {
  .Logo {
    max-width: 105px;
  }
}

.Menu {
  width: 100%;
  height: 110px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-right: 5%;

  background: var(--black);
  border-bottom: 2px solid var(--primary);
}
body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}
@media (max-width: 800px) {
  .Menu {
    height: 60px;
    justify-content: space-between;
  }
  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}

.search-div{
  transform:translate(-50%,-50%);
  background: var(--logo);
  height:50px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  border-radius: 40px;
  padding:10px;
  position:absolute;
  top:50%;
  left: 50%;
}

.search-div:hover > .search-txt{
  width:200px;
  padding: 0 6px;
}

.search-btn{
  color:var(--primary);
  width:40px;
  height:40px;
  border:none;
  cursor:pointer;
  border-radius: 50%;
  background:#2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border:none;
  background:none;
  outline: none;
  padding:0;
  color:var(--primary);
  opacity: none;
  font-size:16px;
  transition:300ms;
  width:0px;
}

.search-txt::placeholder{
  color:var(--primary);
  opacity: 1;
}

.ButtonLink {
  color: var(--primary);
  border: 1px solid var(--white);
  box-sizing: border-box;
  cursor: pointer;
  padding: 16px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: 300ms;
}
.ButtonLink:hover,
.ButtonLink:focus {
  opacity: .7;
  transform: translateY(-.2rem);
}

@media (max-width: 800px) {
  a.ButtonLink {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--logo);
    border-radius: 0;
    border: 0;
    text-align: center;
  }
}